In [3]:
import pandas as pd
import glob
import os

In [4]:
# set search path and find all csv files
path = 'Resources'
all_files = glob.glob(path + "/*.csv")

In [5]:
# create empty list to store dataframes
li = []

for f in all_files:
    #read in csv
    df_raw = pd.read_csv(f, index_col=None)
    df_raw['filename'] = os.path.basename(f)
    li.append(df_raw)

df = pd.concat(li,axis=0,ignore_index=True)
print(df.shape)
df.head()

(833238, 16)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1,JC-201710-citibike-tripdata.csv
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2,JC-201710-citibike-tripdata.csv
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1,JC-201710-citibike-tripdata.csv
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1,JC-201710-citibike-tripdata.csv
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2,JC-201710-citibike-tripdata.csv

In [6]:
df.count()

tripduration               833238
starttime                  833238
stoptime                   833238
start station id           833238
start station name         833238
start station latitude     833238
start station longitude    833238
end station id             833238
end station name           833238
end station latitude       833238
end station longitude      833238
bikeid                     833238
usertype                   833238
birth year                 829783
gender                     833238
filename                   833238
dtype: int64

In [7]:
# drop rows with NAN data
df = df.dropna()
df.count()

tripduration               829783
starttime                  829783
stoptime                   829783
start station id           829783
start station name         829783
start station latitude     829783
start station longitude    829783
end station id             829783
end station name           829783
end station latitude       829783
end station longitude      829783
bikeid                     829783
usertype                   829783
birth year                 829783
gender                     829783
filename                   829783
dtype: int64

In [10]:
# convert tripduration from seconds to minutes
df['tripduration'].apply(lambda x: pd.to_datetime(x, unit='s').dt.strftime('%H:%M:%S'))
df.head()

AttributeError: 'Timestamp' object has no attribute 'dt'

In [8]:
# split starttime and stoptime
df['startdate'] = pd.to_datetime(df['starttime']).dt.date
df['start_time'] = pd.to_datetime(df['starttime']).dt.time

df['stopdate'] = pd.to_datetime(df['stoptime']).dt.date
df['stop_time'] = pd.to_datetime(df['stoptime']).dt.time

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename,startdate,start_time,stopdate,stop_time
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1,JC-201710-citibike-tripdata.csv,2017-10-01,00:03:08,2017-10-01,00:09:59
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2,JC-201710-citibike-tripdata.csv,2017-10-01,00:03:13,2017-10-01,00:10:06
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1,JC-201710-citibike-tripdata.csv,2017-10-01,00:24:07,2017-10-01,00:28:42
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1,JC-201710-citibike-tripdata.csv,2017-10-01,00:31:03,2017-10-01,01:07:42
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2,JC-201710-citibike-tripdata.csv,2017-10-01,00:34:09,2017-10-01,00:36:56

In [9]:
# replace numbers with genders
df.gender = df.gender.map({1:"Male", 2:"Female", 0:"Unknown"})
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,filename,startdate,start_time,stopdate,stop_time
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,Male,JC-201710-citibike-tripdata.csv,2017-10-01,00:03:08,2017-10-01,00:09:59
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,Female,JC-201710-citibike-tripdata.csv,2017-10-01,00:03:13,2017-10-01,00:10:06
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,Male,JC-201710-citibike-tripdata.csv,2017-10-01,00:24:07,2017-10-01,00:28:42
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,Male,JC-201710-citibike-tripdata.csv,2017-10-01,00:31:03,2017-10-01,01:07:42
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,Female,JC-201710-citibike-tripdata.csv,2017-10-01,00:34:09,2017-10-01,00:36:56

In [ ]:
# create an age column
#create year column from starttime
df['year']=pd.DatetimeIndex(df['starttime']).year

df['age']= 2018 - df['birth_year']

In [ ]:
#drop starttime and stoptime columns
df.drop(columns=["stoptime"], inplace=True)
df.head()

In [ ]:
# add year start date column
df.loc[:'year']=df['startdate']

In [ ]:
# save dataset as csv
df.to_csv("Resources/2017_2018_tripdata_JC")